
body{
    margin: 0;
}
section{

}

section>button{
    background-color: var(--rouge-claire);
}
a{
    text-decoration: none;
    color: var(--title_);
}
h3{
    color: var(--texte-semi-claire);
    }
.main__haut{
background-color: var(--rouge-claire);
}
.main__bas{
background-color: var(--rouge-fonce);
}
