.header__logo{
    position: relative;
    width: 86.94px;
    left: 55px;
    top: 55px; 
    transform: translate(-50%, -50%)
}
h1{
    position: relative;
    top: -119px;
    text-align: center;
}
.header__language{
    position:relative;
    left: 315px;
    top: -245px;
}
.language__image{
 width: 40px;    
}
.header__open{
    position: relative;
    left: 270px;
    top: -202px;
}
.open__image{ 
width: 40px;
}
header>div>ul>li>img{
width: 40px;
}