.header__logo{
    position: relative;
    width: 86.94px;
    left: 55px;
    top: 55px; 
    transform: translate(-50%, -50%);
}
h1{
    position: relative;
    top: -119px;
    text-align: center;
    font-size: calc(30px);
    transform: translate(0%, -25%);
}
.header__language{
    position:relative;
    left: Calc(100% - 60px);
    top: -235px;
}
.language__image{
 width: 40px;    
}
.header__open{
    position:relative;
    left: Calc(100% - 104px);
    top: -190px;
}
.open__image{ 
width: 40px;
}
header>div>ul>li>img{
width: 40px;
}
footer>img{
position: relative;
top: -15px;
width: 25px;
margin-right: 15px;
margin-left: 8px;
margin-bottom: -18px;
}
footer>div>img{
    transform: translate(-75%, -15%);
margin-left:    100%;
margin-top: -100px;
width: 50px;
}
