header{
    background-color: var(--header);
    width: 100%;
    height: 132px;
}
.header__top{
    background-color: var(--rouge-fonce);
    width: 100%;
    height: 32px;
}
button{
    background-color: var(--header);
    /*border: none;*/
}
header>button{
    border: none;
    padding: 0;
}
header>button>img{
    transform: translate(0%, 4%);
}
.header__menu{
    position: relative;
    display: grid;
    color: rgb(256, 256, 256);
    top: -186px;
    background-color: var(--header);
    width: 100%;
    height: 100px;
    z-index: 2;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.header__menu>div{
    text-align: center;
}
div>img{
    width: 40px;
    margin-top:20px;
}
li>div>p{
    text-align: center;
    margin: 0px;
    margin-top: 5px;
    font-size: 10px;
    color: var(--texte-claire);
}