.img__peinture{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.img__radiant{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}
.img__vanitas{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}
.img__stray-dog{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}
.img__nodame{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}
.img__city-hall{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}
.img__miserable{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}