.img__clip{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.img__asaka{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.img__shikura{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.img__time-shadow{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}