.img__lamp{
    width: 90%;
    margin-left: 5%;
}
.img__exterieur{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.img__scintillement{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.img__mur{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.img__cascade{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.img__champignon
{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}